:host ::ng-deep {
  display: flex;
  padding: 1rem;
  width: 100%;

  & .news-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .news-body {
    display: flex;
    padding: 24px;
    flex-direction: column;
    border-radius: 12px;
    background: #fff;

    /* Card Shadow */
    box-shadow: 0px 2px 1px 0px rgba(111, 121, 121, 0.25),
      0px -1px 1px 1px rgba(111, 121, 121, 0.1);
  }
}