<div class="news-main">
  <div class="news-head">
    <h2>最新消息</h2>
    <p-button
      label="查看更多"
      styleClass="p-button-rounded p-button-success"
      [routerLink]="['/main/news']" routerLinkActive="active"
    ></p-button>
  </div>

  <div class="news-body">
    <div *ngFor="let n of news">
      <p>{{n.date}} {{n.detail}}  <a href="#">{{n.chack}}</a></p>
      <p-divider type="dotted"></p-divider>
    </div>
  </div>
</div>
