:host ::ng-deep {
  .layout-meau {
    margin: 0;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    list-style-type: none;
  }

  .top {
    display: flex;
    justify-content: center;
    align-self: stretch;
  }

  & i {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .drop-card {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    background: var(--his-sys-light-surface-container-lowest, #fff);

    /* Card Shadow */
    box-shadow: 0px 2px 1px 0px rgba(111, 121, 121, 0.25),
      0px -1px 1px 1px rgba(111, 121, 121, 0.1);
  }
  .app-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h4 {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .total {
    margin-top: 0px;
    align-items: center;
  }

  .fav-icon {
    display: flex;
    border-radius: 12px;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }

  .system-card {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 1rem;
  }
}
