<ul class="layout-meau">
  <li>
    <p-dialog
      header="程式集"
      [position]="position"
      [(visible)]="visible"
      [style]="{ width: '50vw' }"
    >
      <div
        class="system-card"
        *ngFor="let app of apps"
        [routerLink]="app.routerLink"
      >
        <i [ngClass]="app.icon" class="fav-icon" [style]="app.style"></i>

        <h4 class="app-title">{{ app.title }}</h4>
        <p-divider></p-divider>
      </div>
      <p-divider></p-divider>
      <div class="total">
        <h4>
          查看全部<i
            class="pi pi-angle-right"
            style="float: right; margin: 0px;"
          ></i>
        </h4>
      </div>
    </p-dialog>
  </li>
  <li>
    <div class="top">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <g clip-path="url(#clip0_1340_10617)">
          <path
            d="M12.0009 6.375C12.0009 9.4816 9.53387 12 6.49067 12H0.980469V6.375C0.980469 3.26839 3.44747 0.75 6.49067 0.75C9.53387 0.75 12.0009 3.26839 12.0009 6.375Z"
            fill="#17CF97"
          />
          <path
            d="M12 17.625C12 14.5184 14.467 12 17.5102 12H23.0204V17.625C23.0204 20.7316 20.5534 23.25 17.5102 23.25C14.467 23.25 12 20.7316 12 17.625Z"
            fill="#17CF97"
          />
          <path
            d="M0.980469 17.625C0.980469 20.7316 3.44747 23.25 6.49067 23.25H12.0009V17.625C12.0009 14.5184 9.53387 12 6.49067 12C3.44747 12 0.980469 14.5184 0.980469 17.625Z"
            fill="#17CF97"
          />
          <path
            d="M23.0204 6.375C23.0204 3.26839 20.5534 0.75 17.5102 0.75H12V6.375C12 9.4816 14.467 12 17.5102 12C20.5534 12 23.0204 9.4816 23.0204 6.375Z"
            fill="#17CF97"
          />
        </g>
        <defs>
          <clipPath id="clip0_1340_10617">
            <rect width="24" height="24" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </div>
  </li>
  <ng-container *ngFor="let item of items; let i = index">
    <li>
      <i
        [ngClass]="item.icon"
        [routerLink]="item.routerLink"
        pBadge
        value="2"
        severity="danger"
        (click)="getCheck(item.badge)"
      ></i>
    </li>
  </ng-container>
</ul>

<!-- <div class="drop-card">
  <div class="dropend">

    <ul>
      <span class="p-input-icon-right">
        <li>Chirs<i class="pi pi-times"></i></li>
      </span>

      <li>個人資料</li>
      <li>系統設定</li>
      <li>管理權限</li>
      <li>幫助中心</li>
      <li>深色模式</li>
      <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
    </ul>





  </div>
</div> -->

<!--
<p-menubar [model]="items">

</p-menubar> -->
