<div class="favourite-main">
  <div class="favourite-head">
    <h4>我的最愛</h4>
    <p-button
      label="查看更多"
      styleClass="p-button-rounded p-button-success"
    ></p-button>
  </div>

  <div class="favourite-body"></div>
</div>
