.favourite-main {
  // background-color:#eceeeb;
  // padding-bottom: 1rem;
  // border-radius: 10px;
  // width: 100%;
  // height: 100%;
  // margin: 2rem;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
}
.favourite-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.fav-card {
  display: flex;
width: 240px;
height: 120px;
padding: 16px 12px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 12px;
background: var(--his-sys-light-on-primary, #FFF);

/* Card Shadow */
box-shadow: 0px 2px 1px 0px rgba(111, 121, 121, 0.25), 0px -1px 1px 1px rgba(111, 121, 121, 0.10);
}
