<div>
  <div class="favourite-head">
    <h2>我的最愛</h2>
    <p-button
      label="查看更多"
      styleClass="p-button-rounded p-button-success"
      [routerLink]="['/main/application']"
    ></p-button>
  </div>
  <div class="card-list">
    <div class="fav-card" *ngFor="let item of apps" [routerLink]="[item.routerLink]" >
      <div class="card-title">

          <i [ngClass]="item.icon" size="xlarge" class="fav-icon" [style]="item.style"></i>
          <div class="ver-star">
            <i class="pi pi-star-fill black" style="color: #FFB877;" *ngIf="item.like == true"></i>
            <p style="margin-top: 0px;">V 1.1.0</p>
          </div>
      </div>
      <div>
        <h3 style="margin-top: 0px;">{{ item.title }}<i class="pi pi-angle-right" style="float: right;" ></i></h3>

      </div>
    </div>
  </div>
</div>
