:host ::ng-deep {
  display: flex;
  padding: 1rem;
  width: 100%;

  .favourite-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .card-list {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }
  .fav-card {
    // display: flex;
    width: auto;
    height: 120px;
    padding: 16px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: var(--his-sys-light-on-primary, #fff);

    /* Card Shadow */
    box-shadow: 0px 2px 1px 0px rgba(111, 121, 121, 0.25),
      0px -1px 1px 1px rgba(111, 121, 121, 0.1);
  }
  .card-title{
    display: flex;
    margin-bottom: 1rem;
  }
  .fav-icon {
    display: flex;
    border-radius: 12px;
    width: 48px;
    height: 48px;
    align-items:center;
    justify-content: center;
  }
  .ver-star{
    display: flex;
    height: 10px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin-left: 7rem;
  }
}