<div>
  <div class="layout-title">
    <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
      size="xlarge"
      shape="circle"
    ></p-avatar>

    <h3>歡迎回來</h3>
  </div>
  <div class="layout-main">
    <div class="container-card">
      <his-news-card></his-news-card>
    </div>
    <div class="container-card">
      <his-favourite-card></his-favourite-card>
    </div>
  </div>
</div>
