:host ::ng-deep {
  display: flex;
  margin-left: 5rem;

  & .layout-title {
    display: flex;
    gap: 24px;
    margin-bottom: 1rem;
  }
  & .layout-main {
    width: 100%;
    display: flex;

    & .container-card {
      width: 100%;
      height: 100%;
      margin-right: 1rem;
      border-radius: 12px;
      background: #eceeeb;
    }

    & button {
      height: 2rem;
      background-color: #006c4f;;
      border-color: #006c4f;
    }
  }
}
