<div class="forms-bg">
  <div class="form-card">
      <svg xmlns="http://www.w3.org/2000/svg" width="121" height="120" viewBox="0 0 121 120" fill="none">
        <path d="M60.5005 31.875C60.5005 47.408 48.1655 60 32.9495 60H5.39844V31.875C5.39844 16.342 17.7334 3.75 32.9495 3.75C48.1655 3.75 60.5005 16.342 60.5005 31.875Z" fill="#17CF97"/>
        <path d="M60.5 88.125C60.5 72.592 72.835 60 88.051 60H115.602V88.125C115.602 103.658 103.267 116.25 88.051 116.25C72.835 116.25 60.5 103.658 60.5 88.125Z" fill="#17CF97"/>
        <path d="M5.39844 88.125C5.39844 103.658 17.7334 116.25 32.9495 116.25H60.5005V88.125C60.5005 72.592 48.1655 60 32.9495 60C17.7334 60 5.39844 72.592 5.39844 88.125Z" fill="#17CF97"/>
        <path d="M115.602 31.875C115.602 16.342 103.267 3.75 88.051 3.75H60.5V31.875C60.5 47.408 72.835 60 88.051 60C103.267 60 115.602 47.408 115.602 31.875Z" fill="#17CF97"/>
      </svg>
    <h2>歡迎使用醫療系統</h2>
    <div class="container">
      <label for="account">帳號</label>

      <div class="card">
        <input #acc
          type="text"
          id="account"
          name="account"
          pInputText
          [(ngModel)]="account"
          class="inputbox"
        />
      </div>

      <label for="password">密碼</label>
      <div class="card">
        <p-password class="inputbox" [(ngModel)]="password" [toggleMask]="true"></p-password>
      </div>
      <span style="float: right;">忘記密碼？</span>
      <div class="card">
        <p-toast position="bottom-center" key="bc"></p-toast>
        <button
          type="button"
          pButton
          pRipple
          (click)="submit()"
          label="登入"
          class="p-button-success"
          [routerLink]="['/main']"
        ></button>
      </div>
    </div>
  </div>
</div>

