:host ::ng-deep {
  display: flex;
  justify-content: center;
  margin-top: 5rem;

  & .form-card {
    display: flex;
    width: 100%;
    padding: 100px 120px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 40px;
    background: #fff;

    /* Card Shadow */
    box-shadow: 0px 2px 1px 0px rgba(111, 121, 121, 0.25),
      0px -1px 1px 1px rgba(111, 121, 121, 0.1);
  }

  & h2 {
    color: #006c4f;
  }
  & .inputbox {
    width: 100%;
  }

  button {
    width: 100%;
    height: 40px;
    border-radius: 50px;
  }
}