:host ::ng-deep {
  display: flex;
  margin-left: 100px;

  & .news-header {
    display: flex;
    align-items: center;
    gap: 24px;

    & .btn-back {
      display: flex;
      height: 40px;
      align-items: center;
    }

    & .btn-search {
      display: flex;
      height: 40px;
      width: 10rem;
      padding-left: 2.5rem;
      border-radius: 20px;
      border: 1px solid var(--his-sys-light-outline-variant, #bfc9c2);
      background: #fff;
    }
  }
}