<div class="new-main-container">
  <div class="news-header">
    <p-button
      label="返回"
      class="btn-back"
      styleClass="p-button-rounded p-button-info btn-back"
      [routerLink]="['/main']"
      routerLinkActive="active"
    ></p-button>
    <h2>最新消息</h2>
    <div class="search-card">
      <span class="p-input-icon-left" (click)="change = true">
        <i class="pi pi-search" *ngIf="!change"></i>
        <input
          class="btn-search"
          type="button"
          value="查詢"
          *ngIf="!change"

        />
      </span>

      <span class="p-input-icon-right" *ngIf="change">
        <p-dropdown optionLabel="name" placeholder="病例號"></p-dropdown>
      </span>
    </div>
  </div>

  <div  class="news-body">
    <p-tabView>
      <p-tabPanel header="未完成">
        <p *ngFor="let n of news">
          <p-tag severity="danger" value="New" [rounded]="true" *ngIf="n.tag == true"></p-tag>
          {{ n.date }} {{ n.detail }} <a href="#">{{ n.chack }}</a
          ><p-divider></p-divider>
        </p>
      </p-tabPanel>
      <p-tabPanel header="一般消息">
        <p *ngFor="let n of news">
          <p-tag severity="danger" value="New" [rounded]="true" *ngIf="n.tag == true"></p-tag>
          {{ n.date }} {{ n.detail }} <a href="#">{{ n.chack }}</a
          ><p-divider></p-divider>
        </p>
      </p-tabPanel>
      <p-tabPanel header="已完成">
        <p *ngFor="let n of news">
          {{ n.date }} {{ n.detail }} <p-divider></p-divider>
        </p>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
