/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html{
  background-color: rgb(217, 234, 206);
}

.green-icon{
  color: rgb(21, 158, 21);
}

